@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
a {
  text-decoration: none;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(66, 66, 66);
  border-bottom: 1px solid rgb(212, 212, 212);
}
.header__brand {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  cursor: pointer;
}
.account__icon,
.heart__icon {
  margin: 0 0.5rem;
  cursor: pointer;
}

.header__button {
  margin: 0 0.5rem !important;
}

Link {
  color: rgb(66, 66, 66);

}


.dropdown-content {
        position: absolute;
        display: none;
        right: 0;
        min-width: 12rem;
        padding: 1rem;
        z-index: 1;
        background-color:white;
        margin: 0;
        margin-top: 0.4rem;
        border-radius: 0.5rem;
      }
      .dropdown:hover .dropdown-content {
        display: block;
}